*          text=auto eol=lf

*.pdf      diff=astextplain

*.png      binary
*.jpg      binary
*.jpeg     binary
*.gif      binary
*.svg      binary

*.otf      binary

*.csv      text eol=crlf

docs/**            linguist-documentation
docs/dataset/**    linguist-vendored
data/raw/**        linguist-vendored

report/**          linguist-documentation
report/fonts/**    linguist-vendored
report/**/*.pdf    linguist-generated -diff

Makefile           linguist-detectable=false

.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore
